---
layout: home
title: Home
icon: home
weight: 0
permalink: /
---

<header class="hero">
	<div class="container">
		<h1 class="hero-title">Everything you need to deploy your GitHub Pages</h1>
		<p class="hero-description mt-4">
      {{ site.description }}
		</p>
	</div>
</header>

<div class="row row-cards flex-row">
  <div class="col-lg-6">
    {% include card/profile.html %}
  </div>
  <div class="col-lg-6">
    <div class="card h-100">
      <div class="card-stamp">
        <div class="card-stamp-icon bg-primary">
          {% include ui/icon.html icon="brand-tabler" color="red" size="32" %} 
        </div>
      </div>
      <img alt="Tabler Admin Template Dark Mode Sample" 
           loading="lazy" width="190" height="190" decoding="async" data-nimg="1" class="mx-auto" style="color: transparent;" 
           srcset="https://tabler.io/_next/image?url=%2Fimg%2Ftabler%2Ffeatures%2Fdark.png&amp;w=510&amp;q=85 1x, https://tabler.io/_next/image?url=%2Fimg%2Ftabler%2Ffeatures%2Fdark.png&amp;w=1020&amp;q=85 2x" 
           src="https://tabler.io/_next/image?url=%2Fimg%2Ftabler%2Ffeatures%2Fdark.png&amp;w=1020&amp;q=85">
      <div class="card-body p-3 text-center">
        Tabler is a free and open source web application UI kit based on Bootstrap 5, with hundreds responsive components and multiple layouts.
      </div>
      <div class="card-footer text-center">
        <div class="avatar avatar-lg bg-primary-lt m-1" aria-hidden="true">
          <a href="https://tabler.io/admin-template" target="_blank" class="link-primary" rel="noopener">
          {% include ui/icon.html icon="home" color="currentColor" size="48" %}
          </a>
        </div>
        <div class="avatar avatar-lg bg-primary-lt m-1" aria-hidden="true">
          <a href="https://tabler.io/docs" target="_blank" class="link-primary" rel="noopener">
          {% include ui/icon.html icon="file-type-doc" color="currentColor" size="48" %}
          </a>
        </div>
        <div class="avatar avatar-lg bg-primary-lt m-1" aria-hidden="true">
          <a href="https://github.com/tabler/" target="_blank" class="link-primary" rel="noopener">
          {% include ui/icon.html icon="brand-github" color="currentColor" size="48" %}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="hr-text">See also</div>


<div class="row row-cards justify-content-center">
  <!-- Card 1 -->
  <div class="col-md-6 col-lg-4">
    <div class="card card-sm">
      <div class="card-body text-center">
        <div class="avatar avatar-lg bg-primary-lt mb-3" aria-hidden="true">
          {% include ui/icon.html icon="brand-github" color="currentColor" size="48" %}
        </div>
        <h3 class="card-title">Free and Open Source</h3>
        <p class="text-muted">
          A big choice of free UI elements and layouts in one efficient,
          open-source solution.
        </p>
      </div>
    </div>
  </div>

  <!-- Card 2 -->
  <div class="col-md-6 col-lg-4">
    <div class="card card-sm">
      <div class="card-body text-center">
        <div class="avatar avatar-lg bg-primary-lt mb-3" aria-hidden="true">
          {% include ui/icon.html icon="brand-bootstrap" color="currentColor" size="48" %}
        </div>
        <h3 class="card-title">Based on Bootstrap 5</h3>
        <p class="text-muted">
          Based on the latest version of Bootstrap, Tabler is a UI Kit of the
          future.
        </p>
      </div>
    </div>
  </div>

  <!-- Card 3 -->
  <div class="col-md-6 col-lg-4">
    <div class="card card-sm">
      <div class="card-body text-center">
        <div class="avatar avatar-lg bg-primary-lt mb-3" aria-hidden="true">
          {% include ui/icon.html icon="brand-html5" %}
        </div>
        <h3 class="card-title">Modern Design</h3>
        <p class="text-muted">
          Beautiful, fully responsive UI elements that will make your design
          modern and user-friendly.
        </p>
      </div>
    </div>
  </div>
</div>
